cve_lookup==0.2.0
Django==4.2.6
gobject==0.1.0
lxml==4.9.3
matplotlib==3.8.0
psycopg2==2.9.6
py2app==0.28.6
py2exe==0.13.0.1
pycairo==1.23.0
pyxploitdb==2.0
Requests==2.31.0
mac_vendor_lookup==0.1.12
scipy==2.5.0
