 <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        More Information
      </div>
      <div class="card-body p-3">
        {%for result_item in scan_result%}
        
        <div class="card mb-2">
          <div class="card-header">{{result_item.5}}</div>
          {%for finding in findings%}
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><b>CVE ID :</b> {{finding.1}}</li>
              <li class="list-group-item"><b>Foundation :</b> {{finding.6}}</li>
              <li class="list-group-item"><b>Service :</b> {{finding.7}}</li>
              <li class="list-group-item">
                <b>System Impact :</b> {{finding.14}}
              </li>
              <li class="list-group-item">
                <b>Description :</b> {{finding.9}}
              </li>
              <li class="list-group-item">
                <b>Refrences :</b><br />
                {%for ref in finding.15%}
                <ul>
                  <li><a href="{{ref}}" target="_blank">{{ref}}</a></li>
                </ul>
                {%endfor%}
              </li>
            </ul>
          </div>
          {%endfor%}
        </div>
        
        {%endfor%}

        {%for find in online%}
        <div class="card mb-2">
          <div class="card-header">{{find.5}}</div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><b>CVE ID :</b> {{find.4}}</li>
              <li class="list-group-item"><b>Service :</b> {{find.5}}</li>
              <li class="list-group-item">
              </li>
              <li class="list-group-item">
                <b>Description :</b> {{find.1}}
              </li>
              <li class="list-group-item">
                <b>Refrences :</b><br />
                {%for ref in find.3%}
                <ul>
                  <li><a href="{{ref}}" target="_blank">{{ref}}</a></li>
                </ul>
                {%endfor%}
                
              </li>
            </ul>
          </div>
        </div>
        {%endfor%}
      </div>
      <div class="card-footer small text-muted">
        Updated yesterday at 11:59 PM
      </div>
    </div>
  </div>