{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Netpackt | Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{%static 'styles.css'%}" rel="stylesheet"/>
        <link href="{%static 'style_chat.css'%}" rel="stylesheet"/>
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{%url 'home'%}">NetPackt</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{%url 'setting'%}">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{%url 'logout'%}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Home</div>
                            <a class="nav-link" href="{%url 'dashboard'%}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Reports</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Reports
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{%url 'myscans'%}">My scans</a>
                                    <a class="nav-link" href="{%url 'sharedscans'%}">Shared Scans</a>
                                </nav>
                            </div>
                            
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa-regular fa-object-ungroup"></i></div>
                                Workspace
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{%url 'my_workspaces'%}">My Workspaces</a>
                                    <a class="nav-link" href="{%url 'sharedscans'%}">Shared Workspaces</a>
                                </nav>
                            </div>

                            <div class="sb-sidenav-menu-heading">Messages</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts3" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa-regular fa-message"></i></div>
                                Inbox
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts3" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{%url 'chat' 'khaled'%}">My messages</a>
                                    <a class="nav-link" href="{%url 'sharedscans'%}">Messages request</a>
                                </nav>
                            </div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts4" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-user-group"></i></div>
                                Friends
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts4" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{%url 'chat' 'khaled'%}">My friends</a>
                                    <a class="nav-link" href="{%url 'sharedscans'%}">Add friends</a>
                                </nav>
                            </div>

                        </div>
                        
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{ request.user.username }}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Messages</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">My messages</li>
                        </ol>
                        {% comment %} content {% endcomment %}
                       
                            <div class="container">
                                <div class="left">
                                    <div class="top">
                                        <input type="text" placeholder="Search" />
                                        
                                    </div>
                                    <ul class="people" style="list-style-type: none;">
                                        {%for user in users%} 
                                            <li class="person" data-chat="person1">
                                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/thomas.jpg" alt="" />
                                                <a style="text-decoration: none;" href="{%url 'chat' user.1 %}">
                                                <span class="name">{{user.1}}</span>
                                                </a>
                                                {%if user.2 == 0%}
                                                    <span class="time"> <i class="fa fa-circle offline"></i> Offline</span>
                                                {%else%}
                                                    <span class="time"><i class="fa fa-circle online"></i> Online</span>
                                                {%endif%}
                                                <span class="preview"></span>
                                            </li>
                                        
                                        {%endfor%}

                                    </ul>
                                </div>
                                <div class="right">
                                    <div class="top"><span>To: <span class="name">{{selected_username}} <span class="time"> Last seen : {{selected_lastlogin}} </span></span></span></div>

                                    <div class="chat" data-chat="person2" id="chat_div">
                                        
                                        <div class="conversation-start">
                                            <span>Today, 5:38 PM</span>
                                        </div>
                                        {%for message in messagess%}
                                            {%if message.1 == request.user.username%}
                                                <div class="bubble you">
                                                    {{message.3}}
                                                </div>
                                            {%else%}
                                            <div class="bubble me">
                                                {{message.3}}
                                            </div>
                                            {%endif%}
                                        {%endfor%}
                                    </div>

                                    <div class="write">
                                        <form method="post" action=".">
                                            {%csrf_token%}
                                            <a href="javascript:;" class="write-link attach"></a>
                                            <input type="text" name="message" placeholder="type your message here"/>
                                            
                                            <a href="" class="write-link smiley"></a>
                                                <button type="submit" name="send_message" style="all: unset;">
                                                    <a class="write-link send"></a>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        
                        <!-- partial -->
                        {% comment %} end content {% endcomment %}
                    </div>
                </main>
                <div><br></div>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; NetPackt 2024</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{%static "scripts.js"%}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script  src="{%static "scripts_chat.js"%}"></script>
        <script>
            function emptyDiv() {
                document.getElementById("chat_div").innerHTML = "";
            }
            
            $(document).ready(function() {
                setInterval(function() {
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'ajax_data_chats' selected_username=selected_username %}",  // Correctly render the template variable
                        success: function(response) {
                            emptyDiv();
                            
                            
                            for (var key in response.chat){
                                var sender = response.chat[key][1];
                                var recevier = response.chat[key][2];
                                var message = response.chat[key][3];
                                
                            }
                        },
                        error: function(xhr, errmsg, err) {
                            console.log('Error:', xhr.status, errmsg);
                        }
                    });
                }, 1000);
            });
        </script>
    </body>
</html>
