{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Netpackt | My messages</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{%static 'chat.css'%}" rel="stylesheet"/>
        <link href="{%static 'styles.css'%}" rel="stylesheet"/>
        <link rel="stylesheet" href="{%static 'bootstrap.min.css'%}" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{%url 'home'%}">NetPackt</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{%url 'setting'%}">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{%url 'logout'%}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Home</div>
                            <a class="nav-link" href="{%url 'dashboard'%}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Reports</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Reports
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{%url 'myscans'%}">My scans</a>
                                    <a class="nav-link" href="{%url 'sharedscans'%}">Shared Scans</a>
                                </nav>
                            </div>
                            
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa-regular fa-object-ungroup"></i></div>
                                Workspace
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{%url 'my_workspaces'%}">My Workspaces</a>
                                    <a class="nav-link" href="{%url 'sharedscans'%}">Shared Workspaces</a>
                                </nav>
                            </div>

                            <div class="sb-sidenav-menu-heading">Messages</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts3" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa-regular fa-message"></i></div>
                                Inbox
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts3" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{%url 'chat' 'khaled'%}">My messages</a>
                                    <a class="nav-link" href="{%url 'sharedscans'%}">Messages request</a>
                                </nav>
                            </div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts4" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-user-group"></i></div>
                                Friends
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts4" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{%url 'chat' request.user.username%}">My friends</a>
                                    <a class="nav-link" href="{%url 'friend_requests'%}">Add friends</a>
                                </nav>
                            </div>

                        </div>
                        
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{ request.user.username }}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Messages</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">My messages</li>
                        </ol>
                        {% comment %} content {% endcomment %}
                        {%if empty_users%}
                          <div class="alert alert-primary" role="alert" style="margin: 30px;">
                            You don't have any friends, add friends to start chat with them
                          </div>
                        {%endif%}
                        <div id="app" class="app">
                            
                            <!-- LEFT SECTION -->
                        
                            <section id="main-left" class="main-left">
                              <!-- header -->
                              <div id="header-left" class="header-left">
                                
                                
                                
                              </div>
                        
                              <!-- chat list -->
                              <div id="chat-list" class="chat-list">
                                <!-- user lists -->
                                
                                {%for user in users%}
                                  <div id="friends" class="friends">
                                    <!-- photo -->
                                    <div class="profile friends-photo">
                                      <img src="{%static 'user.png'%}" alt="">
                                    </div>
                                    
                                    <div class="friends-credent">
                                      <!-- name -->
                                      <span class="friends-name">
                                        <a href="{%url 'chat' user.1 %}" style="text-decoration: none; color: white;">{{user.1}}</a>
                                      </span>
                                      <!-- last message -->
                                      {%if user.2 == 0%}
                                        <span class="friends-message"> <i class="fa fa-circle offline"></i> Offline</span>
                                      {%else%}
                                        <span class="friends-message"> <i class="fa fa-circle online"></i> Online</span>
                                      {%endif%}
                                    </div>
                                    <!-- notification badge -->
                                    <span class="badge notif-badge">7</span>
                                  </div>
                                {%endfor%}


                              </div>
                        
                              <!-- self-profile -->
                              <div id="self-info" class="self-info">
                                <!-- photo -->
                                <div class="profile your-photo">
                                  <img src="images/ava4.jpg" alt="">
                                </div>
                                <!-- name -->
                                <h4 class="name your-name">Welcome to Netpackt chatboard</h4>
                                <!-- setting btn -->
                                <span class="glyphicon "><i class="fa-brands fa-rocketchat"></i></span>
                              </div>
                            </section>
                        
                        
                        
                            <!-- RIGHT SECTION -->
                        
                            <section id="main-right" class="main-right">
                              <!-- header -->
                              <div id="header-right" class="header-right">
                                <!-- profile pict -->
                                <div id="header-img" class="profile header-img">
                                  <img src="{%static 'user.png'%}" alt="">
                                </div>
                        
                                <!-- name -->
                                <h4 class="name friend-name">{{selected_username}}</h4>
                        
                                <!-- some btn -->
                                <div class="some-btn">
                                  {% comment %} <span class="glyphicon glyphicon-facetime-video"></span>
                                  <span class="glyphicon glyphicon-earphone"></span>
                                  <span class="glyphicon glyphicon-option-vertical option-btn"></span> {% endcomment %}
                                </div>
                              </div>
                        
                              <!-- chat area -->
                              <div id="chat-area" class="chat-area">
                                <!-- chat content -->
                        
                                <!-- FRIENDS CHAT TEMPLATE -->


                              </div>
                        
                              <!-- typing area -->
                              <div id="typing-area" class="typing-area">
                                
                                <!-- input form -->
                                
                                <!-- attachment btn -->

                                <!-- send btn -->
                                <form method="post" action="." style="display:flex; flex-direction:row; justify-content:space-between;">
                                  {%csrf_token%}
                                  <input id="type-area" class="type-area" name="message" placeholder="Type something..." style="width: 500px;">
                                  <button type="submit" style="all: unset;">
                                  <span class="fa-regular fa-paper-plane">
                                  </span>
                                </button>
                                </form>
                              </div>
                            </section>
                          </div>
                        
                        <!-- partial -->
                        {% comment %} end content {% endcomment %}
                    </div>
                </main>
                <div><br></div>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; NetPackt 2024</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{%static "scripts.js"%}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script  src="{%static "scripts_chat.js"%}"></script>
        <script>
            $(document).ready(function() {
                var currentMessages = ''; // Variable to store current messages
                
                setInterval(function() {
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'ajax_data_chats' selected_username=selected_username %}",
                        success: function(response) {
                            var newMessages = ''; // Variable to store new messages
            
                            // Construct string of new messages
                            for (var key in response.chat) {
                                var sender = response.chat[key][1];
                                var message = response.chat[key][3];
                                newMessages += sender + ': ' + message + '\n';
                            }
            
                            // Compare new messages with current messages
                            if (newMessages !== currentMessages) {
                                $("#chat-area").empty();
                                var $chat_box = $('#chat-area');
            
                                // Update chat_div with new messages
                                for (var key in response.chat) {
                                    var sender = response.chat[key][1];
                                    var message = response.chat[key][3];
                                    var logged_in_user = "{{ request.user.username }}";
            
                                    if (logged_in_user === sender) {
                                        $chat_box.append(`                                
                                        <div id="your-chat" class="your-chat">
                                          <p class="your-chat-balloon" id="message">`+message+`</p>
                                          <p class="chat-datetime"><span class="glyphicon glyphicon-ok"></span> Sun, Aug 30 | 15:45</p>
                                        </div>`);
                                    } else {
                                        
                                        $chat_box.append(`                                
                                        <div id="friends-chat" class="friends-chat">
                                          <div class="profile friends-chat-photo">
                                            <img src="{%static 'user.png'%}" alt="">
                                          </div>
                                          <div class="friends-chat-content">
                                            <p class="friends-chat-name">`+sender+`</p>
                                            <p class="friends-chat-balloon">`+message+`</p>
                                            <h5 class="chat-datetime">Sun, Aug 30 | 15:41</h5>
                                          </div>
                                        </div>`);
                                    }
                                }
            
                                // Update current messages
                                currentMessages = newMessages;
                            }
                        },
                        error: function(xhr, errmsg, err) {
                            console.log('Error:', xhr.status, errmsg);
                        }
                    });
                }, 1000);
            });
            
        </script>
        <script src="{%static 'bootstrap3.3/js/jquery-3.3.1.min.js '%}" ></script>
        <script src=" {%static 'bootstrap3.3/js/bootstrap.min.js' %}"></script>
    </body>
</html>
