{%extends "core/report.html" %}

{%block scan_header%}
Host discovery scan report
{%endblock%}

{%block scan_name%}
{{scan_info.0.1}}
{%endblock%}

{%block scan_information_card%}
<div class="card mb-4">
    <div class="card-header">Scan Information</div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Scan name : {{scan_info.0.1}}</li>
            <li class="list-group-item">Scan Type : Host discovery scan</li>
            {%if scan_info.0.3 == 0%}
            <li class="list-group-item">Progress : Completed</li>
            {%else%}
            <li class="list-group-item">Scan name : In progress</li>
            {%endif%}
            <li class="list-group-item">Target subnet : {{scan_info.0.4}} </li>
            <li class="list-group-item">Done by : {{username}}</li>
            <li class="list-group-item">date and time : {{scan_info.0.6}}</li>
            <li class="list-group-item">Export report PDF : <a href="#"><i class="fa-solid fa-file-export"></i></a></li>
        </ul>
    </div>
</div>
{%endblock%}

{%block scan_content%}
<div class="card mb-4">
    <div class="card-header"> <i class="fas fa-table me-1"></i> Hosts discoverd</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <td>IP address</td>
                    <td>MAC address</td>
                    <td>Device name</td>
                </tr>
            </thead>
            <tbody>
                {%for host in results%}
                <tr>
                    <td>{{host.1}}</td>
                    <td>{{host.2}}</td>
                    <td>{{host.3}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{%endblock%}