{% extends "core/scans.html" %}
{%block scan_title%} network scan {%endblock%}
{%block scan_content%}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Network vulnerability scan</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{%url 'dashboard'%}">Dashboard</a></li>
            <li class="breadcrumb-item active">network vulnerability scan</li>
        </ol>
        
        <div class="card mb-4">
            <div class="card-body">
                {%if invalid_port%}
                    <div class="alert alert-danger" role="alert">
                        Invalid port range option
                    </div>
                {%endif%}
                {%if invalid_thread%}
                    <div class="alert alert-danger" role="alert">
                        Invalid thread level option
                    </div>
                {%endif%}
                {%if invalid_stype%}
                    <div class="alert alert-danger" role="alert">
                        Invalid port scan type
                    </div>
                {%endif%}
                {%if empty_name%}
                    <div class="alert alert-danger" role="alert">
                        Cannont leave scan name empty
                    </div>
                {%endif%}
                {%if empty_ip%}
                    <div class="alert alert-danger" role="alert">
                        Cannont leave scan target empty
                    </div>
                {%endif%}
                
                <form method="POST" action=".">
                    {% csrf_token %}
                    <div class="row m-3">
                      <div class="col">
                        <label class="my-1 mr-2" for="scan_name">Scan Name</label>
                        <input type="text" id="scan_name" name="scan_name" class="form-control" placeholder="EX : Company1" title="Add a name to your scan" >
                      </div>
                      <div class="col">
                        <label class="my-1 mr-2" for="ip_addr">Target</label>
                        {% comment %} pattern="\b(?:\d{1,3}\.){3}\d{1,3}\b" {% endcomment %}
                        <input type="text" name="ip_addr" id="ip_addr" class="form-control" placeholder="EX: 192.168.1.1 or 192.168.1.0/24 or scanme.nmap.org"  title="Please enter a valid IPv4 address EX: 192.168.1.1">

                      </div>
                    </div>
                    <div class="row m-3">
                        <div class="col">
                        <label class="my-1 mr-2" for="share">Port scan Type</label>
                        <select class="form-select" name="portscantype" id="share" aria-label="Default select example"> 
                            <option value="1">TCP connect scan</option>
                            <option value="2">TCP stealthy scan</option>
                            <option value="2">UDP scan</option>
                          </select>
                        </div>

                        <div class="col" id="portRangeSelect">
                            <label class="my-1 mr-2" for="portRangeSelect">Port range</label>
                            <select class="form-select" name="portrangetype" id="portRangeSelect" aria-label="Default select example">
                                <option value="default">Select port range</option>
                                <option value="0">Top 10</option>
                                <option value="1">Top 100</option>
                                <option value="2">Top 1000</option>
                                <option value="3">All ports (1 - 65535)</option>
                            </select>
                        </div>
                        <div class="col d-none" id="portRangeInput">
                            <label class="my-1 mr-2" for="customPortRange">Custom port range</label>
                            <input type="text" class="form-control" id="customPortRange" name="customPortRange" placeholder="EX : 22-100">
                        </div>

                    </div>
                    <div class="row m-3">
                        <div class="col">
                            <label class="my-1 mr-2" for="share">Intrustivity</label>
                            <select class="form-select" name="intrusive_type" id="share" aria-label="Default select example">
                                
                                <option value="1">Low (slow scan)</option>
                                <option value="2" selected>Meduim (Normal)</option>
                                <option value="3">High (fast)</option>
                              </select>
                        </div>
                        <div class="col">
                            <label class="my-1 mr-2" for="share">Share report with</label>
                            <div class="dropdown-center">
                                <button class=" form-select" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Select users
                                </button>
                                <ul class="dropdown-menu ">
                                {%for user in users%}
                                    <li>                            
                                        <div class="form-check m-2">
                                            <input class="form-check-input" type="checkbox" name="{{user.0}}" value="{{user.0}}" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                            {{user.1}}
                                            </label>
                                        </div>
                                    </li>
                                {%endfor%}
                                </ul>
                              </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" name="port_range" type="checkbox" value="on" id="check_custom">
                                <label class="form-check-label" for="check_custom">
                                Custom port range
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="ide_evasion" type="checkbox" value="ide_evade" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                IDS Evasion (Beta)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="enum_scripts" type="checkbox" value="enum_scripts" id="flexCheckChecked" >
                                <label class="form-check-label" for="flexCheckDefault">
                                Run enumeration scripts (slow down scan)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="exploitability" type="checkbox" value="exploitability" id="flexCheckChecked" >
                                <label class="form-check-label" for="flexCheckDefault">
                                Check for exploitability (slow down scan)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class ="col " style="text-align:center;">
                            <button type="submit" class="btn btn-primary btn-lg">Start scan</button>
                        </div>
                        
                    <div>
                </form>
            </div>
        </div>

    </div>
</main>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const checkbox = document.getElementById("check_custom");
        const selectInput = document.getElementById("portRangeSelect");
        const textInput = document.getElementById("portRangeInput");
        const label = document.getElementById("checkboxLabel");
    
        // Add event listeners to the checkbox and its label
        [checkbox, label].forEach(element => {
            element.addEventListener("click", function(event) {
                if (checkbox.checked) {
                    
                    selectInput.classList.add("d-none");
                    selectInput.selectedIndex = 0;
                    textInput.classList.remove("d-none");
                } else {
                    selectInput.classList.remove("d-none");
                    textInput.classList.add("d-none");
                }
            });
        });
    });
</script>
{%endblock%}