{%extends "core/report.html" %}

{%block scan_header%}
Network vulnerability scan report
{%endblock%}

{%block scan_name%}
{{scan_info.0.1}}
{%endblock%}

{%block scan_information_card%}
<div class="card mb-4">
    <div class="card-header">Scan Information</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Scan name : {{scan_info.0.1}}</li>
            <li class="list-group-item">Scan Type : Network Vulnerability scan</li>
            {%if scan_info.0.7 == 1%}
            <li class="list-group-item">Progress : Interuptted</li>
            {%elif scan_info.0.7 == 2%}
            <li class="list-group-item">Progress : Interuptted</li>
            {%elif scan_info.0.3 == 0%}
            <li class="list-group-item">Progress : Completed</li>
            {%else%}
            <li class="list-group-item">Scan name : In progress</li>
            {%endif%}
            {%if scan_info.0.7 == 1%}
            <li class="list-group-item">Reason : Scan completed but no open ports found on the specified host</li>
            {%elif scan_info.0.7 == 2%}
            <li class="list-group-item">Reason : Scan completed but host is down or not responding</li>
            {%endif%}
            <li class="list-group-item">Target : {{scan_info.0.4}} </li>
            <li class="list-group-item">Done by : {{username}}</li>
            <li class="list-group-item">date and time : {{scan_info.0.6}}</li>
            <li class="list-group-item">Export report PDF : <a href="#"><i class="fa-solid fa-file-export"></i></a></li>

        </ul>
    <div class="card-body">
    </div>
</div>
{%endblock%}

{%block chart_card%}
<div class="card mb-4">
    <div class="card-body">
        <div class="chart">
            <canvas id="pieChart"></canvas>
        </div>
    </div>
</div>
{%endblock%}


{%block scan_content%}
<div class="card mb-4">
    <div class="card-header">Result summary</div>
    <div class="card-body">
        <div class="table" id="table">
            <table id="scan_result">
                <thead>
                    <tr>
                        <th style="padding: 5px;">CVE ID</th>
                        <th style="padding: 5px;">Service</th>
                        <th style="padding: 5px;">Version</th>
                        <th style="padding: 5px;">Port</th>     
                        <th style="padding: 5px;">Attack complexity</th>
                    </tr>
                </thead>
                <tbody id="tablebody">
                    {%for item in report_data%}
                    <tr>
                        <td style="padding: 5px;">{{ item.5 }}</td>
                        <td style="padding: 5px;">{{ item.3 }}</td>
                        <td style="padding: 5px;">{{ item.4 }}</td>
                        <td style="padding: 5px;">{{ item.2 }}</td>
                        {%for cve in cve_data%}
                            {%if cve.0 == item.5%}
                                <td style="padding: 5px;">{{ cve.4 }}</td>
                            {%endif%}
                        {%endfor%}
                    </tr>
                
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%for cve in cve_data%}
<div class="card mb-4">
    <div class="card-header">CVE ID : {{cve.0}}</div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                <b> Description : </b><br>
                <p>{{cve.1}}</p>
            </li>
            
            <li class="list-group-item">
                <b>Exploitability Score : </b>{{cve.2}}
            </li>

            <li class="list-group-item">
               <b> Network Impact Score : </b> <p id="impact"> {{cve.3}} </p>
            </li>

            <li class="list-group-item">
                <b> Attack complexity : </b> {{cve.4}}
            </li>

            <li class="list-group-item">
                <b> Refrences : </b> <br>
                {%for ref in cve_refs %}
                {%if ref.0 == cve.0 %}
                    {%if ref.2 == 0 %}
                        Refrence link : <a href="{{ref.1}}">{{ref.1}}</a> <br>
                    {%elif ref.2 == 1%}
                        Patch link : <a href="{{ref.1}}">{{ref.1}}</a> <br>
                    {%else%}
                        Exploit link : <a href="{{ref.1}}">{{ref.1}}</a> <br>
                    {%endif%}
                {%endif%}
                {%endfor%}
            </li>
            
          </ul>
    </div>
</div>
{%endfor%}

{%endblock%}

{%block scripts%}
<script>
    window.addEventListener('DOMContentLoaded', event => {

        // Toggle the side navigation
        const sidebarToggle = document.body.querySelector('#sidebarToggle');
        if (sidebarToggle) {
            // Uncomment Below to persist sidebar toggle between refreshes
            // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
            //     document.body.classList.toggle('sb-sidenav-toggled');
            // }
            sidebarToggle.addEventListener('click', event => {
                event.preventDefault();
                document.body.classList.toggle('sb-sidenav-toggled');
                localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
            });
        }
    
    });
    var noneImpact = 0;
    var InformationalImpact = 0;
    var highImpact = 0;
    var meduimImpact = 0;
    var lowImpact = 0;
    {%for cve in cve_data%}
        {% if cve.3 > 0 and cve.3 < 1 %}
            noneImpact++;
        {% elif cve.3 > 1 and cve.3 < 2 %}
            InformationalImpact++;
        {% elif cve.3 > 2 and cve.3 < 4 %}
            lowImpact++;
        {% elif cve.3 > 4 and cve.3 < 7 %}
            meduimImpact++;
        {% elif cve.3 > 7 %}
            highImpact++;
        {%endif%}
    {%endfor%}
    console.log(InformationalImpact)
    console.log(noneImpact);
    console.log(lowImpact);
    console.log(meduimImpact);
    console.log(highImpact);
    const data = {
        labels: ['Critical', 'High', 'Medium', 'Low', 'Informational'],
        datasets: [{
            label: 'Number of vulnerabilites',
            data: [highImpact, meduimImpact, lowImpact, InformationalImpact, noneImpact], //add data values from an analysis function
            backgroundColor: [ 
                '#d84315',
                '#ec9630',
                '#fdd835', 
                '#9ccc65', 
                '#f1f8e9'
            ],
            hoverOffset: 4
        }]
    };
    
    // Get the canvas element
    const ctx = document.getElementById('pieChart').getContext('2d');
    
    // Create the pie chart
    new Chart(ctx, {
        type: 'pie',
        data: data,
    });
    
    const rows = document.querySelectorAll('tbody tr');
    rows.forEach(row => {
        const cell = row.querySelector('td:nth-child(4)');
        const value = cell.textContent.trim().toLowerCase();
        switch (value) {
            case 'severe':
                row.style.backgroundColor = '#ffcccc'; // Light red
                break;
            case 'high':
                row.style.backgroundColor = '#ffe0b3'; // Light orange
                break;
            case 'medium':
                row.style.backgroundColor = '#ffffcc'; // Light yellow
                break;
            case 'low':
                row.style.backgroundColor = '#ccffcc'; // Light green
                break;
            default:
                // Handle unknown or default case
                break;
        }
    });
</script>
{%endblock%}