{%block scan_content%}

{% extends "core/scans.html" %}
{%block scan_title%} network scan {%endblock%}
{%block scan_content%}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Network vulnerability scan</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{%url 'dashboard'%}">Dashboard</a></li>
            <li class="breadcrumb-item active">Scan report</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <div class="chart">
                    <canvas id="pieChart"></canvas>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="table" id="table">
                    <table id="scan_result">
                        <thead>
                            <tr>
                                <th>CVE ID</th>
                                <th>Service</th>
                                <th>Version</th>
                                <th>Impact</th>
                                <th>Exploitability</th>
                                <th>Attack complexity</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody id="tablebody">
                            {%for item in data%}
                            <tr>
                                <td>{{ item.cveid }}</td>
                                <td>{{ item.service }}</td>
                                <td>{{ item.version }}</td>
                                <td class="impactvalue" id="impact">{{ item.impact }}</td>
                                <td>{{ item.exploitability }}</td>
                                <td>{{ item.attackcomplexity }}</td>
                                <td>{{ item.description }}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>
{%endblock%}

{%endblock%}