{% extends "core/dashboard.html" %}
{%block title%}New Scan{%endblock%}
{%block dashboard_content%}
<main>
    {%load static%}
  <div class="masthead" style="background-image: url({% static 'background.jpeg' %});">
      <div class="container position-relative">
          <div class="row justify-content-center">
              <div class="col-xl-6">
                  <div class="text-center text-white">
                        <div class="bg_image"></div>

                      <h1 class="mb-5">Press Start to know what threats may be facinig your device!</h1>
                      
                      <form class="form-subscribe" id="contactForm"  method="post" action="." >
                            {% csrf_token %}
                          <div class="row">
                              <div class="col" >
                                  <input class="form-control form-control-lg mb-3" id="scan_name" type="text" placeholder="Scan Name" data-sb-validations="required" name="scan_name" required/>
                                  <input class="form-control form-control-lg mb-3" id="ipAddress" type="text" placeholder="IP or Network prefix" data-sb-validations="required" name="ip_address" required/>
                                  
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <input class="form-control form-control-lg mb-3" id="shared_with" type="text" placeholder="Shared With" data-sb-validations="required" name="shared_with"/>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="dropdown mb-3">
                                                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                  Share with
                                                </button>
                                                <ul class="dropdown-menu">
                                                {% for user in users %}
                                                  <li><a class="dropdown-item" href="#" data-value="{{user.0}}">{{user.0}}</a></li>
                                                {%endfor%}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                
                                  <div class="col-auto mb-3"><button class="btn btn-primary btn-lg mb-3"
                                    id="submitButton" type="submit">Start</button></div>
                                </div>
                          </div>

                          <!-- Submit success message-->
                          <!---->
                          <!-- This is what your users will see when the form-->
                          <!-- has successfully submitted-->
                          <div class="d-none" id="submitSuccessMessage">
                              <div class="text-center mb-3">
                                  <div class="fw-bolder">Scan initiated....</div>
                                  <p>results will be shown shortly!</p>
                              </div>


                          </div>
                          <!-- Submit error message-->
                          <!---->
                          <!-- This is what your users will see when there is-->
                          <!-- an error submitting the form-->
                          <div class="d-none" id="submitErrorMessage">
                              <div class="text-center text-danger mb-3">Error sending IP address!</div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Icons Grid-->
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the dropdown items
        var dropdownItems = document.querySelectorAll('.dropdown-item');
        
        // Get the input element
        var sharedWithInput = document.getElementById('shared_with');
        
        // Add click event listeners to the dropdown items
        dropdownItems.forEach(function(item) {
          item.addEventListener('click', function() {
            // Get the selected value
            var selectedValue = item.getAttribute('data-value');
            
            // Get the current input value
            var currentValue = sharedWithInput.value;
            
            // Check if the input is not empty, add a comma before the new value
            if (currentValue !== '') {
              currentValue += ', ';
            }
            
            // Update the input value with the selected value
            sharedWithInput.value = currentValue + selectedValue;
          });
        });
      });
      
</script>
{%endblock%}