{% extends "core/dashboard.html" %}
{%block title%}New Scan{%endblock%}
{%block dashboard_content%}
<main>
    {%load static%}
  <div class="masthead" style="background-image: url({% static 'background.jpeg' %});">
      <div class="container position-relative">
          <div class="row justify-content-center">
              <div class="col-xl-6">
                  <div class="text-center text-white">
                        <div class="bg_image"></div>

                      <h1 class="mb-5">Press Start to know what threats may be facinig your device!</h1>
                      
                      <form class="form-subscribe" id="contactForm"  method="post" action="." >
                            {% csrf_token %}
                          <div class="row">
                              <div class="col" >
                                  <input class="form-control form-control-lg mb-3 {% if request.POST.scan_name %}{% if form.scan_name.errors %}is-invalid{% else %}is-valid{% endif %}{% endif %}" id="scan_name" type="text" placeholder="Scan Name" data-sb-validations="required" name="scan_name" required/>
                                  <div class="invalid-feedback text-white font-weight-bold" id="scanNameError"
                                  data-sb-feedback="scan_name:required">Scan Name is required.</div>
                                  <input class="form-control form-control-lg mb-3  {% if request.POST.ip_address %}{% if form.ip_address.errors %}is-invalid{% else %}is-valid{% endif %}{% endif %}" id="ipAddress" type="text" placeholder="IP or Network prefix" data-sb-validations="required" name="ip_address" required/>
                                  
                                  <div class="invalid-feedback text-white font-weight-bold" id="ipAddressError"
                                  data-sb-feedback="ip_address:required">IP Address is required and must be in the
                                  correct format (e.g., 192.168.1.1).</div>
                                  <div class="form-group">
                                    <div class="input-group">
                                        <input
                                          class="form-control form-control-lg mb-3"
                                          id="shared_with"
                                          type="text"
                                          placeholder="Shared With"
                                          data-sb-validations="required"
                                          name="shared_with"
                                        />
                                        
                                      <div class="input-group-append">
                                        <div class="dropdown">
                                          <button
                                            class="btn btn-secondary btn-lg dropdown-toggle"
                                            type="button"
                                            id="shareDropdownButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                          >
                                            Share with
                                          </button>
                                          <div
                                            class="dropdown-menu"
                                            aria-labelledby="shareDropdownButton"
                                          >
                                            {% for user in users %}
                                            <a class="dropdown-item" href="#" data-value="{{user.0}}"
                                              >{{user.0}}</a
                                            >
                                            {% endfor %}
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                
                                  <div class="col-auto mb-3"><button class="btn btn-primary btn-lg mb-3"
                                    id="submitButton" type="submit" onclick="validateAndSubmitForm()">Start</button></div>
                                </div>
                          </div>

                          <!-- Submit success message-->
                          <!---->
                          <!-- This is what your users will see when the form-->
                          <!-- has successfully submitted-->
                          <div class="d-none" id="submitSuccessMessage">
                              <div class="text-center mb-3">
                                  <div class="fw-bolder">Scan initiated....</div>
                                  <p>results will be shown shortly!</p>
                              </div>


                          </div>
                          <!-- Submit error message-->
                          <!---->
                          <!-- This is what your users will see when there is-->
                          <!-- an error submitting the form-->
                          <div class="d-none" id="submitErrorMessage">
                              <div class="text-center text-danger mb-3">Error sending IP address!</div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Icons Grid-->
</main>
<script>
  function validateAndSubmitForm() {
    const scanNameInput = document.getElementById('scan_name');
    const sharedWithInput = document.getElementById('shared_with');
    const ipAddressInput = document.getElementById('ipAddress');
    const scanNameError = document.getElementById('scanNameError');
    const ipAddressError = document.getElementById('ipAddressError');

    const ipPattern = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;

    const scanNameIsValid = scanNameInput.value.trim() !== '';
    const sharedWithIsValid = sharedWithInput.value.trim() !== '';
    const ipAddressIsValid = ipPattern.test(ipAddressInput.value);

    if (!scanNameIsValid) {
        scanNameInput.classList.add('is-invalid');
        scanNameError.style.display = 'block';
    } else {
        scanNameInput.classList.remove('is-invalid');
        scanNameInput.classList.add('is-valid');
        scanNameError.style.display = 'none';
    }

    if (!ipAddressIsValid) {
        ipAddressInput.classList.add('is-invalid');
        ipAddressError.style.display = 'block';
    } else {
        ipAddressInput.classList.remove('is-invalid');
        ipAddressInput.classList.add('is-valid');
        ipAddressError.style.display = 'none';
    }

    if (scanNameIsValid && ipAddressIsValid) {
        document.getElementById('contactForm').submit(); // Submit the form if all fields are valid
    }
    else{
      document.getElementById('contactForm').onsubmit = function(event) {
        event.preventDefault();
        // Additional code to handle form data if needed
        // ...
    };
    
    }
}
    document.addEventListener('DOMContentLoaded', function() {
        // Get the dropdown items
        var dropdownItems = document.querySelectorAll('.dropdown-item');
        
        // Get the input element
        var sharedWithInput = document.getElementById('shared_with');
        
        // Add click event listeners to the dropdown items
        dropdownItems.forEach(function(item) {
          item.addEventListener('click', function() {
            // Get the selected value
            var selectedValue = item.getAttribute('data-value');
            
            // Get the current input value
            var currentValue = sharedWithInput.value;
            
            // Check if the input is not empty, add a comma before the new value
            if (currentValue !== '') {
              currentValue += ', ';
            }
            
            // Update the input value with the selected value
            sharedWithInput.value = currentValue + selectedValue;
          });
        });
      });
      
</script>
{%endblock%}