{% extends "core/dashboard.html" %} {%block title%}{{report.1}}{%endblock%}
{%block dashboard_content%} {%load static%}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Report of {{report.1}}</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="{%url 'home'%}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{%url 'scans'%}">Scans</a></li>
      <li class="breadcrumb-item active">{{report.1}}</li>
    </ol>

    <div class="row">
      <!-- Vulnerabilities Table -->
      <div class="col-lg-6">
        <div class="card mb-2">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <span>Scan Information</span>
            <span
              id="editScanNameIcon"
              data-toggle="modal"
              data-target="#editScanNameModal"
              ><i class="fas fa-pen"></i
            ></span>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><b>Scan Name :</b> {{report.1}}</li>
              <li class="list-group-item"><b>Target IP :</b> {{report.2}}</li>
              <li class="list-group-item"><b>Done By :</b> {{report.3}}</li>
              <li class="list-group-item"><b>Shared With :</b> {{report.4}}</li>
              <li class="list-group-item"><b>Scan Date :</b> {{report.5}}</li>
              <li class="list-group-item"><b>Status :</b> {{report.6}}</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Threats Detected Summary
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Infected Service</th>
                  <th>Impact</th>
                  <th>CVE-ID</th>
                </tr>
              </thead>
              <tbody>
                {%for finding in findings%}
                <tr>
                  <td>{{finding.3}}</td>
                  <td>{{finding.14}}</td>
                  <td>{{finding.1}}</td>
                </tr>
                {%endfor%}
                <!-- Add more rows for other vulnerabilities -->
              </tbody>
            </table>
          </div>
          <div class="card-footer small text-muted">
            Updated today at 10:00 AM
          </div>
        </div>
      </div>

      <!-- Pie Chart -->
      <div class="col-lg-6 mt-5">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-chart-pie me-1"></i>
            Sytem Imapcts
          </div>
          <div class="card-body">
            <canvas id="myPieChart" width="100%" height="50"></canvas>
          </div>
          <div class="card-footer small text-muted">
            Updated yesterday at 11:59 PM
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        More Information
      </div>
      <div class="card-header p-3">
        {%for finding in findings%}
        <div class="card mb-2">
          <div class="card-header">{{finding.3}}</div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><b>CVE ID :</b> {{finding.1}}</li>
              <li class="list-group-item"><b>Foundation :</b> {{finding.6}}</li>
              <li class="list-group-item"><b>Service :</b> {{finding.7}}</li>
              <li class="list-group-item">
                <b>System Impact :</b> {{finding.14}}
              </li>
              <li class="list-group-item">
                <b>Description :</b> {{finding.9}}
              </li>
              <li class="list-group-item">
                <b>Refrences :</b><br />
                {%for ref in finding.15%}
                <ul>
                  <li><a href="{{ref}}" target="_blank">{{ref}}</a></li>
                </ul>
                {%endfor%}
              </li>
            </ul>
          </div>
        </div>
        {%endfor%}
      </div>
      <div class="card-footer small text-muted">
        Updated yesterday at 11:59 PM
      </div>
    </div>
  </div>
</main>
<script src="{%static 'chart.js'%}"></script>
<script>
  var noneCount = 0;
  var highCount = 0;
  var mediumCount = 0;
  var lowCount = 0;

  // Iterate through findings and count occurrences of impact levels
  {% for finding in findings %}
      {% if finding.14 == 'None' %}
          noneCount++;
      {% elif finding.14 == 'High' %}
          highCount++;
      {% elif finding.14 == 'Medium' %}
          mediumCount++;
      {% elif finding.14 == 'Low' %}
          lowCount++;
      {% endif %}
  {% endfor %}
  var chardata = [noneCount, highCount, mediumCount, lowCount];
  drawchart(chardata);
</script>
<!-- Modal for editing scan name -->
<div
  class="modal fade"
  id="editScanNameModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editScanNameModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editScanNameModalLabel">
          Edit Scan Details
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form for editing scan name -->
        <form id="editScanNameForm" method="POST">
            {% csrf_token %}
          <div class="form-group">
            <label for="newScanName">Scan Name:</label>
            <input
              type="text"
              class="form-control"
              id="newScanName"
              name="new_name"
              value="{{report.1}}"
            />
            <div class="form-group">
              <label for="sharedwith">Shared with:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  id="shared_with"
                  name="new_share"
                  value="{{report.4}}"
                />
                <div class="input-group-append">
                  <div class="dropdown">
                    <button
                      class="btn btn-secondary dropdown-toggle"
                      type="button"
                      id="shareDropdownButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Share with
                    </button>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="shareDropdownButton"
                    >
                      {% for user in users %}
                      <a class="dropdown-item" href="#" data-value="{{user.0}}"
                        >{{user.0}}</a
                      >
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript code to handle the form submission (assuming you want to handle the form submission) -->
<script>
  document
    .getElementById("editScanNameForm")
    .addEventListener("submit", function (event) {
      // Handle form submission here
      // You can use AJAX to send the form data to the server or perform other actions
      // Close the modal after form submission
      $("#editScanNameModal").modal("hide");
    });

  document.addEventListener("DOMContentLoaded", function () {
    // Get the dropdown items
    var dropdownItems = document.querySelectorAll(".dropdown-item");

    // Get the input element
    var sharedWithInput = document.getElementById("shared_with");

    // Add click event listeners to the dropdown items
    dropdownItems.forEach(function (item) {
      item.addEventListener("click", function () {
        // Get the selected value
        var selectedValue = item.getAttribute("data-value");

        // Get the current input value
        var currentValue = sharedWithInput.value;

        // Check if the input is not empty, add a comma before the new value
        if (currentValue !== "") {
          currentValue += ", ";
        }

        // Update the input value with the selected value
        sharedWithInput.value = currentValue + selectedValue;
      });
    });
  });
  
</script>
{%endblock%}
