{% extends "core/dashboard.html" %}
{%block title%}Scans{%endblock%}
{%block dashboard_content%}
{%load static%}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Scans</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{%url 'home'%}">Dashboard</a></li>
            <li class="breadcrumb-item active">Scans</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Scan History
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Scan name</th>
                            <th>Done by</th>
                            <th>Target IP</th>
                            <th>Scan date</th>
                            <th>Progress</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in scans %}
                        <tr>
                            <td>{{ item.1 }}</td>
                            <td>{{ item.3 }}</td>
                            <td>{{ item.2 }}</td>
                            <td>{{ item.5 }}</td>
                            <td>{{ item.6 }}</td>
                            <td style="text-align:center;">
                                <a href="{% url 'report_detils' item.0 %}">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a href="{%url 'delete_report' item.0 %}">
                                    <i class="fa-solid fa-trash"></i>

                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{%endblock%}