{% extends "core/dashboard.html" %}
{%block dashboard_content%}
{%load static%}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-2 col-md-2">
                <div class="card bg-light text-black mb-4">
                    <img class="card-img-top" src="{%static 'network.png'%}" alt="Card image cap">
                    <div class="card-body">Netowrk Scan</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link" href="{%url 'scan'%}">New scan</a>
                        <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-2">
                <div class="card bg-light text-black mb-4">
                    <img class="card-img-top" src="{%static 'web.png'%}" alt="Card image cap">
                    <div class="card-body">Web Application Scan</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link" href="{%url 'soon'%}">New scan</a>
                        <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-2">
                <div class="card bg-light text-black mb-4">
                    <img class="card-img-top" src="{%static 'malware.png'%}" alt="Card image cap">
                    <div class="card-body">Ransomware (MS17-010) Scan</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link" href="{%url 'soon'%}">New scan</a>
                        <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
</main>
{%endblock%}