{% extends "core/base.html" %}
{%load static%}
{%block title%}Login{%endblock%}
{%block headattrs%}<link rel="stylesheet" href="{%static 'oops.css'%}" />{%endblock%}
{%block content%}
{% if request.user.is_authenticated %}
  <script>
      window.location.href = "{% url 'home' %}"; 
  </script>
{%else%}
  <body class="bg-primary">
      <div id="layoutAuthentication">
          <div id="layoutAuthentication_content">
              
              <div class="center">

                  <h1>Login</h1>
                  <form method="post">
                      {%csrf_token%}
                    <div class="txt_field">
                      <input type="text" id="inputEmail" name="username"  />
                      <span></span>
                      <label>Username</label>
                    </div>
                    <div class="txt_field">
                      <input type="password" id="inputPassword" name="password" required />
                      <span></span>
                      <label>Password</label>
                    </div>
                    <!--<div class="form-check mb-3">
                      <input type="checkbox" value="" id="inputRememberPassword" class="form-check-input">
                      <label for="inputRememberPassword" class="form-check-input ">Remember Password :)</label>
                    </div>   -->
                    <div class="pass ">Forgot Password? </div>
                    <input type="submit" value="Login" />
                    <div class="signup_link">Not a member? <a href="{%url 'register'%}">Signup</a></div>
                  </form>
              </div>
          </div>
  </body>
{%endif%}
{%endblock%}
