{% extends "core/base.html" %}
{%load static%}
{%block title%}Set password{%endblock%}
{%block headattrs%}<link rel="stylesheet" href="{%static 'oops.css'%}" />{%endblock%}



{%block content%}
{%if validlink%}
  <body class="bg-primary">
      <div id="layoutAuthentication">
          <div id="layoutAuthentication_content">
              
              <div class="center">

                  <h1>Password Reset</h1>

                  <form method="post">
                      {%csrf_token%}

                    <div class="txt_field">
                      <input type="password" id="inputPassword" name="new_password1" required />
                      <span></span>
                      <label>Password</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" id="inputPassword" name="new_password2" required />
                        <span></span>
                        <label>Confirm Password</label>
                    </div>
  
                    <input type="submit" value="reset"/>
                    <div class="signup_link"></div>
                  </form>
              </div>
          </div>

  {%else%}
  <body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            
            <div class="center">

                <p class="pass-reset-p">
                  A password reset link has been expired.<br>
                  Back to <a href="{%url 'login'%}">Login</a>
                </p>
            </div>
        </div>

{%endif%}
{%endblock%}




