{% extends "core/base.html" %}
{%load static%}
{%block title%}Password Reset{%endblock%}
{%block headattrs%}<link rel="stylesheet" href="{%static 'oops.css'%}" />{%endblock%}
{%block content%}
{% if request.user.is_authenticated %}
  <script>
      window.location.href = "{% url 'home' %}"; 
  </script>
{%else%}
  <body class="bg-primary">
      <div id="layoutAuthentication">
          <div id="layoutAuthentication_content">
              
              <div class="center">

                  <h1>Reset Password</h1>
                  <form method="post">
                      {%csrf_token%}
                    <div class="txt_field">
                      <input type="email" id="inputEmail" name="email"  required/>
                      <span></span>
                      <label>Email</label>
                    </div>
                    <input type="submit" value="Reset" />
                    <div class="signup_link">Back To <a href="{%url 'login'%}">Login</a></div>
                  </form>
              </div>
          </div>
  </body>
{%endif%}
{%endblock%}
